@font-face {
  font-family: NorseBold;
  src: url(./Norse-Bold.otf);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

body > .left {
  width: 40vw;
  background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

body > .left > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  font-family: NorseBold;
  font-size: 100px;
  color: white;
  padding: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 30%);
}

/* the odin logo */
body > .left > .logo > img {
  width: 100px;
}

body > .left > .photo-credit {
  position: fixed;
  color: white;
  bottom: 10px;
  text-align: center;
  width: 40%;
}

body > .left a {
  text-decoration: underline;
  color: inherit;
}

body > .right {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
