@font-face {
  font-family: NorseBold;
  src: url(./Norse-Bold.otf);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

.left {
  width: 40vw;
  background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.left > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  font-family: NorseBold;
  font-size: 100px;
  color: white;
  padding: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 30%);
}

/* the odin logo */
.left > .logo > img {
  width: 100px;
}

.left > .photo-credit {
  position: fixed;
  color: white;
  bottom: 1em;
  text-align: center;
  width: 40%;
}

.left a {
  text-decoration: underline;
  color: inherit;
}

.right {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.right .container {
  padding: 40px;
}

form > .container {
  padding: 40px;
  background-color: rgb(255, 255, 255);
  color: #39393a;
  box-shadow: 0 2px 5px rgb(177, 177, 177);
}

form > .container > .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}

.entry {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  color: #666666;
  gap: 4px 0;
  font-weight: bold;
  font-size: 14px;
}

input {
  border-style: solid;
  border-radius: 5px;
  border-color: #e5e7eb;
  padding: 8px;
}

input.error {
  border-color: rgb(233, 61, 61);
}

.error-message {
  font-size: 10px;
  color: rgb(233, 61, 61);
}

input:focus {
  outline: none;
  border-color: #719ece;
  box-shadow: 0 0 5px #719ece;
}

input[type="submit"] {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  border-style: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-size: 16px;
  margin: 20px 40px 0 40px;
}

input[type="submit"]:hover {
  background-color: #4d5d3e;
}

p {
  margin: 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4d5d3e;
}
